page-acoes {
    .textMargin{
        padding-top: 20px !important; 
    }  

    .imagemLogo{
        width: 50px;
        height: auto;
        float: right;
        margin-top: -40px;
        margin-right: 20px;
    }   

    .cardLayout{
        border-bottom: 2px solid #0B8ED6;
        border-right: 2px solid #0B8ED6;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 2%;
        text-align: justify;
        width: 80%;
    }

    .componente{   
        p{text-align: justify; margin-right: 20px;}
        max-width: 60%;
        margin-right: 2%;
    }

    .imagem{
        img{text-align: center; max-height: 200px; width: auto;}
        float: right;
        max-width: 25%;
        margin-right: 2%;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 10%
    }

    @media screen and (max-width: 600px) {
    .componente{   
        p{text-align: justify; margin-right: 20px;}
        max-width: 95%;
        margin-right: 2%;
        margin-left: 3%;
    }

    .imagem{
        
        img{text-align: center;}
        max-width: 95%;
        margin-right: 2%;
        margin-left: 3%;
        margin-top: 2%;
        text-align: center;
    }
    }
}